h1 {
    color: brown;
}

* {
    border: solid;
}
.header{

 background-color: rgba(160, 247, 102, 0.966);
 display: flex; 
 justify-content: space-between;
 flex-shrink: 4;
} 

.grid{

display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: baseline;

}

.footer{

display: flex;
justify-content: flex-end;


}
